@inherits LayoutComponentBase
@inject NavigationManager Navigation

@* <RadzenComponents @rendermode=InteractiveWebAssembly />
<RadzenLayout @ref="radzenLayout">
    <RadzenHeader Style="min-height:auto" @ref="radzenHeader">
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.End" JustifyContent="JustifyContent.SpaceBetween" class="rz-ml-2">
            <RadzenStack Orientation="Orientation.Horizontal" Style="margin-bottom:auto;margin-top:auto">
                <RadzenSidebarToggle Click="@(() => sideBarExpanded = !sideBarExpanded)" />
            </RadzenStack>
            <RadzenStack Orientation="Orientation.Horizontal" class="rz-my-auto">
                <SabatexLogin />
            </RadzenStack>
        </RadzenStack>
    </RadzenHeader>

    <RadzenSidebar @bind-Expanded="@sideBarExpanded">
        <RadzenPanelMenu>
            <NavMenu />
        </RadzenPanelMenu>
    </RadzenSidebar>


    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout> *@

<SabatexLayout>
    <Brand>
        <h4>"Sabatex"</h4>
    </Brand>
    <Header>
        <h4>Welcome to Sabatex</h4>
    </Header>
    <SideBar>
        <NavMenu />
    </SideBar>
    <Body>
        @Body
    </Body>
</SabatexLayout>


<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
@code {
    RadzenLayout? radzenLayout;
    RadzenHeader? radzenHeader;
    bool sideBarExpanded = true;
    void LogOut()
    {
        Navigation.NavigateTo("Account/logout", true);
    }
}