.nav-item {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.nav-item:first-of-type {
    padding-top: 1rem;
}

.nav-item:last-of-type {
    padding-bottom: 1rem;
}

    .nav-item ::deep .nav-link {
        color: midnightblue;
        background: none;
        border: none;
        border-radius: 4px;
        height: 2.5rem;
        display: flex;
        align-items: center;
        line-height: 2.5rem;
        width: 100%;
        transition: background-color 150ms ease, color 150ms ease;
    }

    .nav-item ::deep a.active {
        background-color: rgba(128,128,255,0.37);
        color: #ffffff;
    }

    .nav-item ::deep .nav-link:hover {
        background-color: rgba(128,128,255,0.12);
        color: #ffffff;
    }