#sabatex-wasm-load-progress {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}
.loading-progress {
    width: 20rem;
    height: 20rem;
}

    .loading-progress circle {
        fill: color-mix(in srgb,black calc(100% - var(--blazor-load-percentage)),green var(--blazor-load-percentage) );
        stroke: white;
        stroke-width: 0.6rem;
        transform-origin: 50% 50%;
        transform: rotate(-90deg);
    }
        .loading-progress circle:last-child {
            stroke-width: 0.3rem;
            stroke: gold;
            stroke-dasharray: calc(3.141 * var(--blazor-load-percentage, 0%) * 0.80), 500%;
            transition: stroke-dasharray 0.05s ease-in-out;
        }
.loading-progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    color:gold;
}

    .loading-progress-text:after {
        content: var(--blazor-load-percentage-text, "0%");
    }

