@page "/RadzenBlazorDemo_ClientA/enumdropdowndemo"
@using RadzenBlazorDemo.Models
@using Sabatex.RadzenBlazor


<h3>EnumDropDown</h3>
<RadzenText>Enum DropDown bind to DaysOfWeek</RadzenText>
<SabatexEnumDropDown TEnum="DaysOfWeek"  @bind-Value="dayOfWeek" Placeholder="Select day of week" />
<RadzenText>Selected value @dayOfWeek</RadzenText>

<RadzenText>Enum DropDown bind to DaysOfWeek?</RadzenText>
<SabatexEnumDropDown TEnum="DaysOfWeek?" @bind-Value="dayOfWeekNulable" Placeholder="Select day of week" />
<RadzenText>Selected value @(dayOfWeekNulable == null?"null":dayOfWeekNulable)</RadzenText>

@code {

    DaysOfWeek? dayOfWeekNulable;
    DaysOfWeek dayOfWeek = DaysOfWeek.Sunday;
}
